/**
Copyright (c) 2011-present GitLab B.V.

Portions of this software are licensed as follows:

* All content residing under the "doc/" directory of this repository is licensed under "Creative Commons: CC BY-SA 4.0 license".
* All content that resides under the "ee/" directory of this repository, if that directory exists, is licensed under the license defined in "ee/LICENSE".
* All client-side JavaScript (when served directly or after being compiled, arranged, augmented, or combined), is licensed under the "MIT Expat" license.
* All third party components incorporated into the GitLab Software are licensed under the original license provided by the owner of the applicable component.
* Content outside of the above mentioned directories or restrictions above is available under the "MIT Expat" license as defined below.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

**/

 .project-refs-form, .project-refs-target-form {
	 display: inline-block;
}
 .fade-enter, .fade-leave-to {
	 opacity: 0;
}
 .commit-message {
	 display: inline-block;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 vertical-align: top;
	 white-space: nowrap;
	 max-width: 250px;
}
 .ide-view {
	 position: relative;
	 margin-top: 0;
	 padding-bottom: 25px;
	 color: #2e2e2e;
	 min-height: 0;
}
 .ide-view.is-collapsed .ide-file-list {
	 max-width: 250px;
}
 .ide-view .file-status-icon {
	 width: 10px;
	 height: 10px;
}
 .ide-file-list {
	 display: flex;
	 flex-direction: column;
	 flex: 1;
	 min-height: 0;
}
 .ide-file-list a {
	 color: #2e2e2e;
}
 .multi-file-loading-container {
	 margin-top: 10px;
	 padding: 10px;
}
 .multi-file-table-col-commit-message {
	 white-space: nowrap;
	 width: 50%;
}
 .multi-file-edit-pane {
	 display: flex;
	 flex-direction: column;
	 flex: 1;
	 border-left: 1px solid #eaeaea;
	 overflow: hidden;
}
 .multi-file-tabs {
	 display: flex;
	 background-color: #fafafa;
	 box-shadow: inset 0 -1px #eaeaea;
}
 .multi-file-tabs > ul {
	 display: flex;
	 overflow-x: auto;
}
 .multi-file-tabs li {
	 display: flex;
	 align-items: center;
	 padding: 8px 16px;
	 background-color: #f5f5f5;
	 border-right: 1px solid #eaeaea;
	 border-bottom: 1px solid #eaeaea;
}
 .multi-file-tabs li.active {
	 background-color: #fff;
	 border-bottom-color: #fff;
}
 .multi-file-tabs li:not(.disabled) .multi-file-tab {
	 cursor: pointer;
}
 .multi-file-tabs li.disabled .multi-file-tab-close {
	 cursor: default;
}
 .multi-file-tab {
	 display: inline-block;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 vertical-align: top;
	 white-space: nowrap;
	 max-width: 141px;
}
 .multi-file-tab svg {
	 vertical-align: middle;
}
 .multi-file-tab-close {
	 width: 16px;
	 height: 16px;
	 padding: 0;
	 margin-left: 8px;
	 background: none;
	 border: 0;
	 border-radius: 4px;
	 color: #2e2e2e;
}
 .multi-file-tab-close svg {
	 position: relative;
	 top: -2px;
}
 .multi-file-tab-close .ide-file-changed-icon {
	 display: block;
	 position: relative;
	 top: 1px;
	 right: -2px;
}
 .multi-file-tab-close:not([disabled]):hover {
	 background-color: #dfdfdf;
}
 .multi-file-tab-close:not([disabled]):focus {
	 background-color: #1f78d1;
	 color: #fff;
	 outline: 0;
}
 .multi-file-tab-close:not([disabled]):focus svg {
	 fill: currentColor;
}
 .multi-file-edit-pane-content {
	 flex: 1;
	 height: 0;
}
 .blob-editor-container {
	 flex: 1;
	 height: 0;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
 .blob-editor-container .vertical-center {
	 min-height: auto;
}
 .blob-editor-container .monaco-editor .lines-content .cigr {
	 display: none;
}
 .blob-editor-container .monaco-editor .selected-text {
	 z-index: 1;
}
 .blob-editor-container .monaco-editor .view-lines {
	 z-index: 2;
}
 .blob-editor-container .is-readonly .view-lines, .blob-editor-container .editor.original .view-lines {
	 cursor: default;
}
 .blob-editor-container .is-readonly .cursors-layer, .blob-editor-container .editor.original .cursors-layer {
	 display: none;
}
 .blob-editor-container .is-deleted .editor.modified .margin-view-overlays, .blob-editor-container .is-deleted .editor.modified .lines-content, .blob-editor-container .is-deleted .editor.modified .decorationsOverviewRuler {
	 display: none !important;
}
 .blob-editor-container .is-deleted .diffOverviewRuler.modified {
	 display: none !important;
}
 .blob-editor-container .is-added .editor.original .margin-view-overlays, .blob-editor-container .is-added .editor.original .lines-content, .blob-editor-container .is-added .editor.original .decorationsOverviewRuler {
	 display: none !important;
}
 .blob-editor-container .is-added .diffOverviewRuler.original {
	 display: none !important;
}
 .blob-editor-container .monaco-diff-editor.vs .editor.modified {
	 box-shadow: none;
}
 .blob-editor-container .monaco-diff-editor.vs .diagonal-fill {
	 display: none !important;
}
 .blob-editor-container .monaco-diff-editor.vs .diffOverview {
	 background-color: #fff;
	 border-left: 1px solid #eaeaea;
	 cursor: ns-resize;
}
 .blob-editor-container .monaco-diff-editor.vs .diffViewport {
	 display: none;
}
 .blob-editor-container .monaco-diff-editor.vs .char-insert {
	 background-color: #c7f0d2;
}
 .blob-editor-container .monaco-diff-editor.vs .char-delete {
	 background-color: #fac5cd;
}
 .blob-editor-container .monaco-diff-editor.vs .line-numbers {
	 color: rgba(0, 0, 0, 0.3);
}
 .blob-editor-container .monaco-diff-editor.vs .view-overlays .line-insert {
	 background-color: #ecfdf0;
}
 .blob-editor-container .monaco-diff-editor.vs .view-overlays .line-delete {
	 background-color: #fbe9eb;
}
 .blob-editor-container .monaco-diff-editor.vs .margin {
	 background-color: #fff;
	 border-right: 1px solid #f2f2f2;
}
 .blob-editor-container .monaco-diff-editor.vs .margin .line-insert {
	 border-right: 1px solid #c7f0d2;
}
 .blob-editor-container .monaco-diff-editor.vs .margin .line-delete {
	 border-right: 1px solid #fac5cd;
}
 .blob-editor-container .monaco-diff-editor.vs .margin-view-overlays .insert-sign, .blob-editor-container .monaco-diff-editor.vs .margin-view-overlays .delete-sign {
	 opacity: 0.4;
}
 .multi-file-editor-holder {
	 height: 100%;
	 min-height: 0;
}
 .multi-file-editor-holder.is-readonly .vs .monaco-editor, .multi-file-editor-holder .vs .editor.original .monaco-editor, .multi-file-editor-holder.is-readonly .vs .monaco-editor-background, .multi-file-editor-holder .vs .editor.original .monaco-editor-background, .multi-file-editor-holder.is-readonly .vs .monaco-editor .inputarea.ime-input, .multi-file-editor-holder .vs .editor.original .monaco-editor .inputarea.ime-input {
	 background-color: #fafafa;
}
 .preview-container {
	 flex-grow: 1;
	 position: relative;
}
 .preview-container .md-previewer {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 overflow: auto;
	 padding: 16px;
}
 .preview-container .file-container {
	 background-color: #eee;
	 display: flex;
	 height: 100%;
	 align-items: center;
	 justify-content: center;
	 text-align: center;
}
 .preview-container .file-container .file-content {
	 padding: 16px;
	 max-width: 100%;
	 max-height: 100%;
}
 .preview-container .file-container .file-info {
	 font-size: 12px;
	 color: #808080;
}
 .ide-mode-tabs {
	 border-bottom: 1px solid #eaeaea;
}
 .ide-mode-tabs li a {
	 padding: 8px 16px;
	 line-height: 16px;
}
 .ide-btn-group {
	 padding: 4px 6px;
	 line-height: 24px;
}
 .ide-status-bar {
	 border-top: 1px solid #eaeaea;
	 padding: 2px 8px 0;
	 background: #fff;
	 display: flex;
	 justify-content: space-between;
	 height: 25px;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 font-size: 12px;
	 line-height: 22px;
}
 .ide-status-bar * {
	 font-size: inherit;
}
 .ide-status-bar svg {
	 vertical-align: sub;
}
 .ide-status-bar .ide-status-avatar {
	 float: none;
	 margin: 0 0 1px;
}
 .ide-status-list > div + div {
	 padding-left: 16px;
}
 .ide-status-file {
	 text-align: right;
}
 .multi-file-preview-holder {
	 height: 100%;
	 overflow: scroll;
}
 .multi-file-preview-holder .file-content.code {
	 display: flex;
}
 .multi-file-preview-holder .file-content.code i {
	 margin-left: -10px;
}
 .multi-file-preview-holder .line-numbers {
	 min-width: 50px;
}
 .multi-file-preview-holder .file-content, .multi-file-preview-holder .line-numbers, .multi-file-preview-holder .blob-content, .multi-file-preview-holder .code {
	 min-height: 100%;
}
 .file-content.blob-no-preview a {
	 margin-left: auto;
	 margin-right: auto;
}
 .multi-file-commit-panel {
	 display: flex;
	 position: relative;
	 width: 340px;
	 padding: 0;
	 background-color: #fafafa;
	 padding-right: 1px;
}
 .multi-file-commit-panel .context-header {
	 width: auto;
	 margin-right: 0;
}
 .multi-file-commit-panel .context-header > a, .multi-file-commit-panel .context-header > button {
	 text-decoration: none;
	 padding-top: 8px;
	 padding-bottom: 8px;
}
 .multi-file-commit-panel .multi-file-commit-panel-inner {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 min-height: 100%;
	 min-width: 0;
	 width: 100%;
}
 .multi-file-commit-panel .multi-file-commit-panel-inner-content {
	 display: flex;
	 flex: 1;
	 flex-direction: column;
	 background-color: #fff;
	 border-left: 1px solid #eaeaea;
	 border-top: 1px solid #eaeaea;
	 border-top-left-radius: 2px;
	 min-height: 0;
}
 .multi-file-commit-panel-section {
	 display: flex;
	 flex-direction: column;
	 flex: 1;
	 max-height: 100%;
	 overflow: auto;
}
 .ide-commit-empty-state {
	 padding: 0 16px;
}
 .ide-commit-empty-state-container {
	 margin-top: auto;
	 margin-bottom: auto;
}
 .multi-file-commit-panel-header {
	 height: 48px;
	 border-bottom: 1px solid #eaeaea;
	 padding: 12px 0;
}
 .multi-file-commit-panel-collapse-btn {
	 border-left: 1px solid #eaeaea;
	 margin-left: auto;
}
 .multi-file-commit-list {
	 flex: 1;
	 overflow: auto;
	 padding: 8px 0;
	 min-height: 60px;
}
 .multi-file-commit-list.form-text.text-muted {
	 margin-left: 0;
	 right: 0;
}
 .multi-file-commit-list-collapsed {
	 display: flex;
	 flex-direction: column;
	 padding: 16px 0;
}
 .multi-file-commit-list-collapsed svg {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 color: #707070;
}
 .multi-file-commit-list-collapsed .file-status-icon {
	 width: 10px;
	 height: 10px;
	 margin-left: 3px;
}
 .multi-file-commit-list-path {
	 display: flex;
	 align-items: center;
	 margin-left: -8px;
	 margin-right: -8px;
	 padding: 4px 8px;
	 border-radius: 4px;
	 text-align: left;
	 cursor: pointer;
	 height: 32px;
	 padding-right: 0;
}
 .multi-file-commit-list-path:hover, .multi-file-commit-list-path:focus {
	 background: #f2f2f2;
	 outline: 0;
}
 .multi-file-commit-list-path:active {
	 background: #dfdfdf;
}
 .multi-file-commit-list-path.is-active {
	 background-color: #f0f0f0;
}
 .multi-file-commit-list-path svg {
	 min-width: 16px;
	 vertical-align: middle;
	 display: inline-block;
}
 .multi-file-commit-list-file-path {
	 display: inline-block;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 vertical-align: top;
	 white-space: nowrap;
	 max-width: calc(100% - 30px);
	 user-select: none;
}
 .multi-file-commit-list-file-path:active {
	 text-decoration: none;
}
 .multi-file-commit-form {
	 position: relative;
	 background-color: #fff;
	 border-left: 1px solid #eaeaea;
	 transition: all 0.3s ease;
}
 .multi-file-commit-form > form, .multi-file-commit-form > .commit-form-compact {
	 padding: 16px 0;
	 margin-left: 16px;
	 margin-right: 16px;
	 border-top: 1px solid #eaeaea;
}
 .multi-file-commit-form .btn {
	 font-size: 14px;
}
 .multi-file-commit-form .multi-file-commit-panel-success-message {
	 top: 0;
}
 .multi-file-commit-panel-bottom {
	 position: relative;
}
 .dirty-diff {
	 width: 4px !important;
	 left: 0 !important;
}
 .dirty-diff-modified {
	 background-color: #1f78d1;
}
 .dirty-diff-added {
	 background-color: #168f48;
}
 .dirty-diff-removed {
	 height: 0 !important;
	 width: 0 !important;
	 bottom: -2px;
	 border-style: solid;
	 border-width: 5px;
	 border-color: transparent transparent transparent #db3b21;
}
 .dirty-diff-removed::before {
	 content: '';
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100px;
	 height: 1px;
	 background-color: rgba(219, 59, 33, 0.5);
}
 .ide-loading {
	 display: flex;
	 height: 100%;
	 align-items: center;
	 justify-content: center;
}
 .ide-empty-state {
	 display: flex;
	 height: 100vh;
	 align-items: center;
	 justify-content: center;
}
 .ide {
	 overflow: hidden;
	 flex: 1;
}
 .ide-commit-list-container {
	 display: flex;
	 flex: 1;
	 flex-direction: column;
	 min-height: 140px;
	 margin-left: 16px;
	 margin-right: 16px;
}
 .ide-commit-list-container.is-first {
	 border-bottom: 1px solid #eaeaea;
}
 .ide-staged-action-btn {
	 width: 32px;
	 height: 32px;
	 color: inherit;
}
 .ide-staged-action-btn > svg {
	 top: 0;
}
 .ide-commit-file-count {
	 min-width: 22px;
	 background-color: #fafafa;
	 border: 1px solid #eaeaea;
}
 .ide-commit-options label {
	 font-weight: normal;
}
 .ide-commit-options label.is-disabled .ide-option-label {
	 text-decoration: line-through;
}
 .ide-commit-options .form-text.text-muted {
	 margin-top: 0;
	 line-height: 0;
}
 .ide-commit-new-branch {
	 margin-left: 25px;
}
 .ide-sidebar-link {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: relative;
	 height: 60px;
	 width: 100%;
	 padding: 0 16px;
	 color: #707070;
	 background-color: transparent;
	 border: 0;
	 border-top: 1px solid transparent;
	 border-bottom: 1px solid transparent;
	 outline: 0;
	 cursor: pointer;
}
 .ide-sidebar-link svg {
	 margin: 0 auto;
}
 .ide-sidebar-link:hover {
	 color: #2e2e2e;
	 background-color: #f2f2f2;
}
 .ide-sidebar-link:focus {
	 color: #2e2e2e;
	 background-color: #dfdfdf;
}
 .ide-sidebar-link.active {
	 width: calc(100% + 1px);
	 padding-right: 17px;
	 background-color: #fff;
	 border-top-color: #eaeaea;
	 border-bottom-color: #eaeaea;
}
 .ide-sidebar-link.active::after {
	 content: '';
	 position: absolute;
	 right: -1px;
	 top: 0;
	 bottom: 0;
	 width: 1px;
	 background: #fff;
}
 .ide-sidebar-link.active.is-right {
	 padding-right: 16px;
	 padding-left: 17px;
}
 .ide-sidebar-link.active.is-right::after {
	 right: auto;
	 left: -1px;
}
 .ide-activity-bar {
	 position: relative;
	 flex: 0 0 60px;
	 z-index: 1;
}
 .ide-commit-message-field {
	 height: 200px;
	 background-color: #fff;
}
 .ide-commit-message-field .md-area {
	 display: flex;
	 flex-direction: column;
	 height: 100%;
}
 .ide-commit-message-field .nav-links {
	 height: 30px;
}
 .ide-commit-message-field .form-text.text-muted {
	 margin-top: 2px;
	 color: #1f78d1;
	 cursor: pointer;
}
 .ide-commit-message-textarea-container {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
}
 .ide-commit-message-textarea-container .note-textarea {
	 font-family: 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console', monospace;
}
 .ide-commit-message-highlights-container {
	 position: absolute;
	 left: 0;
	 top: 0;
	 right: -100px;
	 bottom: 0;
	 padding-right: 100px;
	 pointer-events: none;
	 z-index: 1;
}
 .ide-commit-message-highlights-container .highlights {
	 white-space: pre-wrap;
	 word-wrap: break-word;
	 color: transparent;
}
 .ide-commit-message-highlights-container mark {
	 margin-left: -1px;
	 padding: 0 2px;
	 border-radius: 2px;
	 background-color: #fed69f;
	 color: transparent;
	 opacity: 0.6;
}
 .ide-commit-message-textarea {
	 position: absolute;
	 left: 0;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 2;
	 background: transparent;
	 resize: none;
}
 .ide-tree-header {
	 flex: 0 0 auto;
	 display: flex;
	 align-items: center;
	 flex-wrap: wrap;
	 padding: 12px 0;
	 margin-left: 16px;
	 margin-right: 16px;
	 border-bottom: 1px solid #eaeaea;
}
 .ide-tree-header svg {
	 color: #707070;
}
 .ide-tree-header svg:focus, .ide-tree-header svg:hover {
	 color: #1b69b6;
}
 .ide-tree-header .ide-new-btn {
	 margin-left: auto;
}
 .ide-tree-header .ide-nav-dropdown {
	 width: 100%;
	 margin-bottom: 12px;
}
 .ide-tree-header .ide-nav-dropdown .dropdown-menu {
	 width: 385px;
	 max-height: initial;
}
 .ide-tree-header .ide-nav-dropdown .dropdown-menu-toggle svg {
	 vertical-align: middle;
	 color: #707070;
}
 .ide-tree-header .ide-nav-dropdown .dropdown-menu-toggle svg:hover {
	 color: #707070;
}
 .ide-tree-header .ide-nav-dropdown .dropdown-menu-toggle:hover {
	 background-color: #f0f0f0;
}
 .ide-tree-header .ide-nav-dropdown.show .dropdown-menu-toggle {
	 background-color: #eaeaea;
}
 .ide-tree-header button {
	 color: #2e2e2e;
}
 .ide-tree-body {
	 overflow: auto;
	 padding-left: 16px;
	 padding-right: 16px;
}
 .ide-sidebar-branch-title {
	 font-weight: 400;
}
 .ide-sidebar-branch-title svg {
	 position: relative;
	 top: 3px;
	 margin-top: -1px;
}
 .commit-form-compact .btn {
	 margin-bottom: 8px;
}
 .commit-form-compact p {
	 margin-bottom: 0;
}
 .commit-form-slide-up-enter-active, .commit-form-slide-up-leave-active {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 transition: all 0.3s ease;
}
 .is-full .commit-form-slide-up-enter, .is-compact .commit-form-slide-up-leave-to {
	 transform: translateY(100%);
}
 .is-full .commit-form-slide-up-enter-to, .is-compact .commit-form-slide-up-leave {
	 transform: translateY(0);
}
 .commit-form-slide-up-enter, .commit-form-slide-up-leave-to {
	 opacity: 0;
}
 .ide-review-header {
	 flex-direction: column;
	 align-items: flex-start;
}
 .ide-review-header .dropdown {
	 margin-left: auto;
}
 .ide-review-header a {
	 color: #1b69b6;
}
 .ide-review-sub-header {
	 color: #707070;
}
 .ide-tree-changes {
	 display: flex;
	 align-items: center;
	 font-size: 12px;
}
 .multi-file-commit-panel-success-message {
	 position: absolute;
	 top: 61px;
	 left: 1px;
	 bottom: 0;
	 right: 0;
	 z-index: 10;
	 background: #fff;
	 overflow: auto;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
 .ide-review-button-holder {
	 display: flex;
	 width: 100%;
	 align-items: center;
}
 .ide-context-header .ide-merge-requests-dropdown.dropdown-menu {
	 width: 385px;
	 max-height: initial;
}
 .ide-context-header .avatar-container {
	 flex: 0 0 auto;
	 margin-right: 0;
}
 .ide-context-header .ide-sidebar-project-title {
	 margin-left: 18px;
}
 .ide-context-body {
	 min-height: 0;
}
 .ide-sidebar-project-title {
	 min-width: 0;
}
 .ide-sidebar-project-title .sidebar-context-title {
	 white-space: nowrap;
	 display: block;
}
 .ide-sidebar-project-title .sidebar-context-title.text-secondary {
	 font-weight: normal;
}
 .ide-external-link svg {
	 display: none;
	 position: absolute;
	 top: 2px;
	 right: -16px;
}
 .ide-external-link:hover svg, .ide-external-link:focus svg {
	 display: inline-block;
}
 .ide-sidebar {
	 width: auto;
	 min-width: 60px;
}
 .ide-right-sidebar .ide-activity-bar {
	 border-left: 1px solid #eaeaea;
}
 .ide-right-sidebar .multi-file-commit-panel-inner {
	 width: 350px;
	 padding: 8px 16px;
	 background-color: #fff;
	 border-left: 1px solid #eaeaea;
}
 .ide-right-sidebar .ide-right-sidebar-clientside {
	 padding: 0;
}
 .ide-pipeline {
	 display: flex;
	 flex-direction: column;
	 height: 100%;
}
 .ide-pipeline .top-bar {
	 top: 0;
	 font-size: 12px;
	 border-top-right-radius: 4px;
	 margin-left: -16px;
}
 .ide-pipeline .empty-state {
	 margin-top: auto;
	 margin-bottom: auto;
}
 .ide-pipeline .empty-state p {
	 margin: 8px 0;
	 text-align: center;
	 line-height: 24px;
}
 .ide-pipeline .empty-state .btn, .ide-pipeline .empty-state h4 {
	 margin: 0;
}
 .ide-pipeline .build-trace {
	 margin-left: -16px;
}
 .ide-pipeline-list {
	 flex: 1;
	 overflow: auto;
}
 .ide-pipeline-header {
	 min-height: 55px;
	 padding-left: 16px;
	 padding-right: 16px;
}
 .ide-pipeline-header .ci-status-icon {
	 display: flex;
}
 .ide-job-item {
	 display: flex;
	 padding: 16px;
}
 .ide-job-item:not(:last-child) {
	 border-bottom: 1px solid #e5e5e5;
}
 .ide-job-item .ci-status-icon {
	 display: flex;
	 justify-content: center;
	 min-width: 24px;
	 overflow: hidden;
}
 .ide-stage .card-header {
	 display: flex;
	 cursor: pointer;
}
 .ide-stage .card-header .ci-status-icon {
	 display: flex;
	 align-items: center;
}
 .ide-stage-collapse-icon {
	 margin: auto 0 auto auto;
}
 .ide-job-header {
	 min-height: 60px;
}
 .ide-nav-form .nav-links li {
	 width: 50%;
	 padding-left: 0;
	 padding-right: 0;
}
 .ide-nav-form .nav-links li a {
	 text-align: center;
}
 .ide-nav-form .nav-links li a:not(.active) {
	 background-color: #fafafa;
}
 .ide-nav-form .dropdown-input {
	 padding-left: 16px;
	 padding-right: 16px;
}
 .ide-nav-form .dropdown-input .input-icon {
	 right: auto;
	 left: 10px;
	 top: 50%;
	 transform: translateY(-50%);
}
 .ide-nav-form .dropdown-input-field {
	 padding-left: 34px;
	 padding-top: 2px;
	 padding-bottom: 2px;
}
 .ide-nav-form .tokens-container {
	 padding-left: 34px;
	 overflow-x: hidden;
}
 .ide-nav-form .btn-link {
	 padding-top: 16px;
	 padding-bottom: 16px;
}
 .ide-search-list-current-icon {
	 min-width: 18px;
}
 .ide-search-list-empty {
	 height: 69px;
}
 .ide-merge-requests-dropdown-content {
	 max-height: 470px;
}
 .ide-merge-request-project-path {
	 font-size: 12px;
	 line-height: 16px;
	 color: #707070;
}
 .ide-merge-request-info .detail-page-header {
	 line-height: initial;
	 min-height: 38px;
}
 .ide-merge-request-info .issuable-details {
	 overflow: auto;
}
 .ide-entry-dropdown-toggle {
	 padding: 4px;
	 color: #2e2e2e;
	 background-color: #f2f2f2;
}
 .ide-entry-dropdown-toggle:hover {
	 background-color: #dfdfdf;
}
 .ide-entry-dropdown-toggle:active, .ide-entry-dropdown-toggle:focus {
	 color: #f0f0f0;
	 background-color: #1f78d1;
	 outline: 0;
}
 .ide-entry-dropdown-toggle svg {
	 fill: currentColor;
}
 .ide-new-btn {
	 display: none;
}
 .ide-new-btn .btn {
	 padding: 2px 5px;
}
 .ide-new-btn .dropdown.show .ide-entry-dropdown-toggle {
	 color: #f0f0f0;
	 background-color: #1f78d1;
}
 .ide-preview-header {
	 padding: 0 8px;
	 border-bottom: 1px solid #eaeaea;
	 background-color: #fafafa;
	 min-height: 44px;
}
 .ide-navigator-btn {
	 height: 24px;
	 min-width: 24px;
	 max-width: 24px;
	 padding: 0;
	 margin: 0 4px;
	 color: #5c5c5c;
}
 .ide-navigator-btn:first-child {
	 margin-left: 0;
}
 .ide-navigator-location {
	 padding-top: 4px;
	 padding-bottom: 4px;
}
 .ide-navigator-location:focus {
	 outline: 0;
	 box-shadow: none;
	 border-color: #dfdfdf;
}
 .ide-preview-loading-icon {
	 right: 8px;
	 top: 50%;
	 transform: translateY(-50%);
}
 .ide-file-templates {
	 padding: 8px 16px;
	 background-color: #fafafa;
	 border-bottom: 1px solid #eaeaea;
}
 .ide-file-templates .dropdown {
	 min-width: 180px;
}
 .ide-file-templates .dropdown-content {
	 max-height: 222px;
}
 .ide-commit-editor-header {
	 height: 65px;
	 padding: 8px 16px;
	 background-color: #fafafa;
	 box-shadow: inset 0 -1px #eaeaea;
}
 .ide-commit-list-changed-icon {
	 width: 32px;
	 height: 32px;
}
 .ide-file-icon-holder {
	 display: flex;
	 align-items: center;
	 color: #707070;
}
 .file-row:hover .ide-new-btn, .file-row:focus .ide-new-btn {
	 display: block;
}
 .file-row:hover .folder-icon, .file-row:focus .folder-icon {
	 fill: #707070;
}
 
